/* Общие стили */
/* .layout {
  display: flex;
  flex-direction: column;
} */



/* Стили для авторизованных пользователей */

/* .content {
  display: flex;
} */

/* .authenticatedSidebar {
  width: 250px; 
  background-color: #f4f4f4; 
  padding: 20px;
} */

.layout {
  background-color: #F7F8FA; /* Фон для основного содержимого авторизованных пользователей */
}
