.sidebar {
  background-color: #F7F8FA;
  height: 100vh; /* Высота на всю страницу */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 18px;
  

  /* border-top: 1px solid rgba(29, 30, 33, 0.1); */

  border-right: 1px solid rgba(29, 30, 33, 0.1);
  border-bottom: 0px solid rgba(29, 30, 33, 0.1);
  border-left: 0px solid rgba(29, 30, 33, 0.1);

    position: fixed;
    top: 81px;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;


}

/* .menu {
  list-style: none;
  padding: 0;
  margin: 0;
} */

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff; /* Белый фон кнопки */
  margin: 14px 0;
  box-shadow: 0px -1px 7px 0px rgba(71, 71, 71, 0.05);

  transition: background 0.3s ease;
}

.icon {
  fill: rgba(220, 221, 223, 1);
  width: 16px;
  height: 16px;
  transition: color 0.3s ease;
}

.menuItem.active,
.menuItem:hover {
  background-color: #e8e8e8; /* Светло-серый фон активной кнопки */
}

.menuItem.active .icon,
.menuItem:hover .icon {
  fill: #2c8f4b; /* Зеленый цвет активной иконки */
}
