/* -------------------------
   Global Table Styles
------------------------- */

.recentOrders {
  padding: 0 20px;
  background: white;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.recentOrders table {
  width: 100%;
  border-collapse: collapse; /* Убираем внутренние промежутки между ячейками */
}

.recentOrders th,
.recentOrders td {
  border: 1px solid rgba(29, 30, 33, 0.1); /* Внутренние границы */
  text-align: left; /* Выравнивание текста */
  padding: 20px;
}

.recentOrders th {
  background-color: #e7f1ed; /* Фон для заголовков */
  color: #1d1e2166;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.recentOrders td {
  color: #1d1e21;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.recentOrders th:first-child,
.recentOrders td:first-child {
  padding-left: 0; /* Убираем отступ слева у первого столбца */
}

.recentOrders th:last-child,
.recentOrders td:last-child {
  padding-right: 0; /* Убираем отступ справа у последнего столбца */
}

/* -------------------------
   Removing Specific Borders
------------------------- */

.recentOrders table tr:first-child th {
  border-top: none; /* Убираем верхнюю границу у первой строки */
}

.recentOrders table tr:last-child td {
  border-bottom: none; /* Убираем нижнюю границу у последней строки */
}

.recentOrders table tr td:first-child,
.recentOrders table tr th:first-child {
  border-left: none; /* Убираем левую границу у первого столбца */
}

.recentOrders table tr td:last-child,
.recentOrders table tr th:last-child {
  border-right: none; /* Убираем правую границу у последнего столбца */
}

/* -------------------------
   Header (H3) Styles
------------------------- */

.ordersTable h3 {
  background-color: #e7f1ed;
  padding: 20px;
  margin: 0;
  color: #1d1e21;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* -------------------------
   Button Group (Actions)
------------------------- */

.buttonBox {
  display: flex; 
  gap: 8px; 

}

.editButton,
.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%; 
  background: transparent;
}

.editButton {
  border: 1px solid rgba(89, 177, 122, 0.5); 
}

.deleteButton {
  border: 1px solid rgba(232, 80, 80, 0.5); 
}

/* -------------------------
   Icon Styles
------------------------- */

.iconEdit,
.iconDelete {
  width: 16px; 
  height: 16px;
  fill: currentColor; 
}

.recentOrders th{
  background: none;
}
.recentOrders table{
  box-shadow: none;
}

