.recentSuppliers {
  padding: 0 20px;
  background: white;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.recentSuppliers table {
  width: 100%;
  border-collapse: collapse;
}

.recentSuppliers th,
.recentSuppliers td {
  border: 1px solid rgba(29, 30, 33, 0.1);
  text-align: left;
  padding: 20px;
}

.recentSuppliers th {
  background-color: #e7f1ed;
  color: #1d1e2166;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.recentSuppliers td {
  color: #1d1e21;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.recentSuppliers th:first-child,
.recentSuppliers td:first-child {
  padding-left: 0;
}

.recentSuppliers th:last-child,
.recentSuppliers td:last-child {
  padding-right: 0;
}

.recentSuppliers table tr:first-child th {
  border-top: none;
}

.recentSuppliers table tr:last-child td {
  border-bottom: none;
}

.recentSuppliers table tr td:first-child,
.recentSuppliers table tr th:first-child {
  border-left: none;
}

.recentSuppliers table tr td:last-child,
.recentSuppliers table tr th:last-child {
  border-right: none;
}

.suppliersTable h3 {
  background-color: #e7f1ed;
  padding: 20px;
  margin: 0;
  color: #1d1e21;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.buttonBox {
  display: flex; 
  gap: 8px;
}

.editButton,
.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent;
}

.editButton {
  border: 1px solid rgba(89, 177, 122, 0.5); 
}

.deleteButton {
  border: 1px solid rgba(232, 80, 80, 0.5); 
}

.iconEdit,
.iconDelete {
  width: 16px; 
  height: 16px;
  fill: currentColor; 
}

.recentSuppliers th {
  background: none;
}

.recentSuppliers table {
  box-shadow: none;
}
