.productsPage {
  margin-top: 155px;
  margin-left: 120px;
  margin-right: 40px;
}
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchInput {
  padding: 13px 18px;
  margin-right: 10px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 224px;
  box-shadow: 0px -1px 5px 0px rgba(71, 71, 71, 0.05);
}
.filterButton {
  display: flex;
  align-items: center;
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  background-color: rgba(89, 177, 122, 1);
  color: #1d1e21;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-left: auto;
  /* font-size: 32px; */
  width: 42px;
  height: 42px;
  margin-right: 8px;
}

.addButton:hover {
  background-color: #45a049;
}

.noProducts {
  text-align: center;
  padding: 15px;
  color: #777;
}

.iconAdd {
  width: 16px;
  height: 16px;
  fill: white;
  /* background-color: #651f1f; */
}
.textAdd {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Центрирование */
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 8px;
}
.activePageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(89, 177, 122, 1);
}
.pageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(231, 241, 237, 1);
}
