.productsPage {
      margin-top: 155px;
  margin-left: 120px;
  margin-right: 40px;

}
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: left;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchInput {
  padding: 13px 18px;
  margin-right: 10px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 224px;
  box-shadow: 0px -1px 5px 0px rgba(71, 71, 71, 0.05);
}
.filterButton {
  display: flex;
  align-items: center;
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}


.addButton {
  display: flex;
  
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-left: auto;
  font-size: 32px;



}

.addButton:hover {
  background-color: #45a049;
}



.noProducts {
  text-align: center;
  padding: 15px;
  color: #777;
} 

.iconAdd{
  width: 16px;
  height: 16px;
  fill: white;
}