/* Общий контейнер */
.suppliersPage {
  margin-top: 155px;
  margin-left: 120px;
  margin-right: 40px;
}

/* Заголовок */
.suppliersPage h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Фильтр */
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}

.filterInput {
  padding: 13px 18px;
  margin-right: 10px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 224px;
  box-shadow: 0px -1px 5px 0px rgba(71, 71, 71, 0.05);
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #45a049;
}
.filtericon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.openModalButton {
  display: flex;
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-left: auto;
}
.openModalButton:hover {
  background-color: #45a049;
}

/* Таблица */
.suppliersTable {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
}
.tabletitle {
  background-color: rgba(231, 241, 237, 1);
  padding: 20px;
  color: #1d1e21;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}
.tableHeader,
.tableRow {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.tableHeader {
  /* background-color: #f2f2f2; */
  font-weight: bold;
  text-align: center;
}

.tableBody .tableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.tableRow div {
  /* flex: 1; */
  text-align: center;
}

.tableRow div:first-child {
  text-align: left;
}

.tableRow button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tableRow button:hover {
  background-color: #d32f2f;
}

/* Ошибки */
.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* Форма */
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form input,
.form select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.form button:hover {
  background-color: #45a049;
}

/* Модальное окно */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modalClose:hover {
  color: #f44336;
}

/* Анимация модального окна */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  animation: fadeIn 0.3s ease-out;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Центрирование */
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 8px;
}
.activePageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(89, 177, 122, 1);
}
.pageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(231, 241, 237, 1);
}
