.containerCustomers {
    width: 630px; 
    padding-left: 80px;

}

.containerCustomers h3 {
  background-color: #e7f1ed;
  padding: 20px;
  margin: 0;
  color: #1d1e21;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.recentCustomers {
  padding: 0 20px;
  background: white;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-top: none;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.recentCustomers table {
  width: 100%;
  border-collapse: collapse;
}

.recentCustomers th {
  padding: 20px;
  color: #1d1e2166;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  /* border-left: none;
    border-right: none; */
}
.recentCustomers th:first-child,
.recentCustomers td:first-child {
  padding-left: 0; /* Устанавливаем нулевой отступ слева для первого элемента */
}

.recentCustomers td {
  padding: 30px 20px;

  color: #1d1e21;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  /* border-left: none; */
}

.recentCustomers table {
  border-collapse: collapse;
  width: 100%;
  border: none; /* Убираем внешнюю границу */
}

.recentCustomers th,
.recentCustomers td {
  border: 1px solid #1d1e211a; /* Оставляем только внутренние границы */
}

.recentCustomers table tr:first-child th {
  border-top: none; /* Убираем верхнюю границу */
}

.recentCustomers table tr:last-child td {
  border-bottom: none; /* Убираем нижнюю границу */
}

.recentCustomers table tr td:first-child,
.recentCustomers table tr th:first-child {
  border-left: none; /* Убираем левую границу */
}

.recentCustomers table tr td:last-child,
.recentCustomers table tr th:last-child {
  border-right: none; /* Убираем правую границу */
}
