:root {
  --main-text-color: #ffffff;
  --secondary-text-color: #afafaf;
  --main-green-color: #00ff00;
  --hover-green-color: #00cc00;
  --background-color: #181818;
  --card-background: #1a1a1a;
  --modal-background: rgba(0, 0, 0, 0.8);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-ultrabold: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

body {
  font-family: "Neue Machina", sans-serif;
  font-weight: var(--fw-regular);
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

p:last-child {
  margin-bottom: 0;
}

a {
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--main-green-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
p {
  margin: 0;
  padding: 0;
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
}

.link:hover {
  color: var(--main-green-color);
}

button {
  cursor: pointer;
  font-family: inherit;
}

span {
  margin: 0;
  padding: 0;
}

/* Основные стили */
.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Медиа запросы */
@media (min-width: 320px) {
  .app {
    padding: 0 15px;
  }
}

@media (min-width: 375px) {
  .app {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .app {
    padding: 0 30px;
  }
}

@media (min-width: 1440px) {
  .app {
    padding: 0 40px;
  }
}
